@charset "UTF-8";
@font-face {
    font-family: texas;
    src: url('fonts/texas-tango.otf') format('opentype') ;
    font-weight: normal;
    
    
}
h1{
    font-family:'texas', serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 3em;
    

}
p{
    font-family: 'texas';
   
}